body {
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ce6ddf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9c27b0; 
}